.login-container {
  position: relative;
  height: 100vh;
  background: linear-gradient(to top, var(--el-color-primary), var(--el-color-primary-light-3));

  .login-right-tools {
    position: fixed;
    top: var(--el-margin);
    right: var(--el-margin);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: calc(var(--el-padding) / 2);
    background: var(--el-color-white);
    border: 1px solid var(--el-border-color);
    border-radius: var(--el-border-radius-base);

    :deep(.vab-language,
      .vab-color-picker,
      .vab-dark) {
        margin: 0 calc(var(--el-padding) / 2) 0 calc(var(--el-padding) / 2) !important;
    }
  }

  @media (max-width: 696px) {
    .login-right-tools {
      display: none;
    }

    .login-form {
      width: 90vw !important;
      margin: auto !important;

      .left-img {
        display: none !important;
      }

      :deep(.el-form--default) {
         width: 100% !important;
         margin-right: auto !important;
         margin-left: auto !important;
      }
    }
  }

  @media (min-width: 696px) and (max-width: 999px) {
    .login-right-tools {
      display: none;
    }

    .login-form {
      width: 90vw !important;
      margin: auto !important;

      :deep(.el-form--default) {
         width: 50% !important;
      }
    }
  }

  .login-form {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1000px;
    height: 550px;
    padding: 4.5vh;
    margin: auto;
    overflow: hidden;
    background: var(--el-color-white);
    background-size: 100% 100%;
    border: 1px solid var(--el-border-color);
    border-radius: 15px;
    transition: var(--el-transition);

    .left-img {
      width: 50%;
    }

    :deep(*) {
      transition: var(--el-transition);

    }
    :deep(.el-form--default) {
      width: 45%;
    }

    :deep(.title) {
      font-size: 54px;
      font-weight: 500;
      color: var(--el-color-black);
    }

    :deep(.title-tips) {
      margin-top: 29px;
      font-size: 26px;
      font-weight: 400;
      color: var(--el-color-black);
    }

    :deep(.login-btn) {
      width: 100%;
      height: 50px;
    }

    :deep(.el-form-item) {
      margin: 20px 0;
      .el-form-item__error {
        position: absolute;
        font-size: var(--el-font-size-small);
        line-height: 18px;
        color: var(--el-color-error);
      }

      .el-input,.el-select {
        width: 100%;
        height: 48px;
        line-height: 48px;
      }
      .el-select .el-select__wrapper{
        min-height: 48px;
        line-height: 40px
      }
    }
    :deep(.code) {
      position: absolute;
      top: 4px;
      right: 4px;
      cursor: pointer;
      border-radius: var(--el-border-radius-base);
    }
  }
}
