.generator-container{
  display:flex;
  flex: 1;
  &>.el-row{
    display:flex;
    flex-direction:row;
    flex: 1;
    .el-col{
      display:flex;
      flex-direction:column;
      flex: 1;
      min-height:100%;
      overflow:hidden;
      .el-tree{
        height:100%;
        border-radius:8px;
        padding:10px;
        border: 1px solid rgba(0,0,0,.1);
        overflow-y: auto;
      }
    }
  }
}

.el-carousel__button{
  background-color: #545454;
}
